<?xml version="1.0"?>
<launch>

    <arg name="camera_frame" default="camera_color_optical_frame" doc="The tf frame corresponding to the optical frame of the RGB camera" />
    <arg name="reference_frame" default="camera_color_optical_frame" doc="The tf frame with respect to which the pose will be published" />
    <arg name="camera_info_topic" default="/camera/color/camera_info" doc="The topic on which the camera info is published" />
    <arg name="camera_image_topic" default="/camera/color/image_raw" doc="The topic on which the camera image is published" />
    <arg name="rows" default="8" doc="Number of marker rows on the Aprilboard" />
    <arg name="cols" default="5" doc="Number of marker columns on the Aprilboard" />
    <arg name="marker_length" default="0.04" doc="Length of one side of a marker in meters" />
    <arg name="space_length" default="0.012" doc="Length of the space between markers in meters" />
    <arg name="start_id" default="100" doc="The ID of the first marker on the Aprilboard" />
    <arg name="tag_family" default="t36h11" doc="The AprilTag family to use (e.g. 'tag16h5', 'tag25h9', 'tag36h11')" />
    <arg name="draw_markers" default="true" doc="Whether to draw detected markers on the output image" />
    <arg name="draw_corners" default="false" doc="Whether to draw detected corners on the output image" />

  <!-- Launch the ros_aprilboard detector node -->
  <node pkg="ros_aprilboard" type="ros_detector.py" name="ros_aprilboard_detector" output="screen">
    <param name="camera_frame" value="$(arg camera_frame)"/>
    <param name="reference_frame" value="$(arg reference_frame)"/>
    <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
    <param name="camera_image_topic" value="$(arg camera_image_topic)"/>

    <!-- Board parameters -->
    <param name="rows" value="$(arg rows)"/>
    <param name="cols" value="$(arg cols)"/>
    <param name="marker_length" value="$(arg marker_length)"/> 
    <param name="space_length" value="$(arg space_length)" />
    <param name="start_id" value="$(arg start_id)"/>
    <param name="tag_family" value="$(arg tag_family)"/>

    <!-- Debug / draw options -->
    <param name="draw_markers" value="$(arg draw_markers)"/>
    <param name="draw_corners" value="$(arg draw_corners)"/>
  </node>
</launch>
